PORT=3005
NODE_ENV=development

DATABASE_URL=postgresql://manucmms:manucmms_dev@localhost:5432/manucmms
RABBITMQ_URL=amqp://manucmms:manucmms_dev@localhost:5672/

BREVO_API_KEY=
BREVO_SMTP_FROM_EMAIL=
BREVO_SMTP_FROM_NAME=Equipe ManuCMMS
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=no-reply@manucmms.local
SMTP_FROM_NAME=Equipe ManuCMMS
